header {
    display: flex;
    justify-content: space-evenly;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    /* justify-content: space-between; */
}

.header-nav li a {
    text-decoration: none;
}