header {
    background-color: #EDEFEE;
    color: #495E57;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    font-family: 'markazi text';
    font-size: 1.25rem;
    font-weight: 500;
}

.header-nav ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.header-nav li {
    display: flex;
    align-items: center;
}

li.nav-selected {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .header-nav ul {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .chakra-button.header-nav-btn.css-22xpxh {
        display: none;
    }
}

.nav-drawer {
    background-color: #EDEFEE;
    color: #495E57;
    text-align: center;
    font-family: 'markazi text';
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-drawer ul {
    list-style: none;
}
