header {
    background-color: #EDEFEE;
    color: #495E57;
    padding: 1rem 2rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    font-family: 'markazi text';
    font-size: 1.25rem;
    font-weight: 500;
}

.header-nav ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.header-nav li {
    display: flex;
    align-items: center;
}

.header-nav li.nav-selected {
    text-decoration: underline;
}